/* Google Font */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
    }
    
    body{
    background:#1f1f1f;
    color:#fff;
    }
    
    header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#181818;
    z-index:1000;
    }
    
    .logo{
    font-size:30px;
    font-weight:700;
    text-decoration:none;
    color:#a968f3;
    }
    
    nav{
    display:flex;
    gap:35px;
    }
    
    nav a{
    text-decoration:none;
    color:#fff;
    font-size:17px;
    transition:.3s;
    }
    
    nav a:hover{
    color:#a968f3;
    }
    
    .menu{
    display:none;
    font-size:28px;
    cursor:pointer;
    }
    
    section{
    min-height:100vh;
    padding:120px 8%;
    }
    
    .home{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    flex-wrap:wrap;
    }
    
    .home-img img{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #a968f3;
    box-shadow:0 0 30px #a968f3;
    }
    
    .home-content{
    max-width:600px;
    }
    
    .home-content h1{
    font-size:55px;
    margin-bottom:15px;
    }
    
    .home-content span{
    background:linear-gradient(90deg,#5effb,#3ddcff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    }
    
    .home-content h3{
    font-size:28px;
    margin-bottom:20px;
    color:#a968f3;
    }
    
    .home-content p{
    line-height:1.8;
    margin-bottom:30px;
    color:#ddd;
    }
    
    .buttons{
    display:flex;
    gap:20px;
    }
    
    .btn{
    display:inline-block;
    padding:12px 35px;
    background:#a968f3;
    color:#111;
    text-decoration:none;
    font-weight:600;
    border-radius:8px;
    transition:.4s;
    border:none;
    cursor:pointer;
    }
    
    .btn:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px #a968f3;
    }
    
    .btn2{
    background:transparent;
    color:white;
    border:2px solid white;
    }
    
    .btn2:hover{
    background:#a968f3;
    color:black;
    }
    
    .about{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:60px;
    align-items:center;
    }
    
    .about-img img{
    width:100%;
    border-radius:20px;
    }
    
    .about h2{
    font-size:60px;
    margin-bottom:20px;
    }
    
    .about h2 span{
    background:linear-gradient(90deg,#a968f3,#c6b3dd);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    }
    
    .about p{
    line-height:1.9;
    margin-bottom:30px;
    color:#ddd;
    }
    
    .about h3{
    font-size:35px;
    color:#a968f3;
    margin-bottom:20px;
    }

    /*================ SERVICES ================*/

.heading{
    text-align:center;
    font-size:60px;
    margin-bottom:60px;
    background:linear-gradient(90deg,#a968f3,#c6b3dd);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    }
    
    .skill-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    }
    
    .skill-card{
    background:#262626;
    padding:35px;
    border-radius:15px;
    border:1px solid #444;
    transition:.4s;
    text-align:center;
    }
    
    .skill-card:hover{
    transform:translateY(-10px);
    border-color:#a968f3;
    box-shadow:0 0 20px rgba(94,255,107,.4);
    }
    
    .skill-card h3{
    font-size:28px;
    color:#a968f3;
    margin-bottom:20px;
    }
    
    .skill-card p{
    color:#ddd;
    line-height:1.8;
    }
    
    /*================ PROJECTS ================*/
    
    .project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    }
    
    .project-box{
    background:#262626;
    padding:30px;
    border-radius:15px;
    border:1px solid #444;
    transition:.4s;
    text-align:center;
    }
    
    .project-box:hover{
    transform:translateY(-10px);
    border-color:#c6b3dd;
    box-shadow:0 0 20px rgba(61,220,255,.4);
    }
    
    .project-box h3{
    font-size:26px;
    margin-bottom:15px;
    color:#a968f3;
    }
    
    .project-box p{
    color:#ddd;
    line-height:1.7;
    }
    
    /*================ CONTACT ================*/
    
    form{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
    }
    
    form input,
    form textarea{
    width:100%;
    padding:15px;
    background:#262626;
    border:1px solid #555;
    border-radius:10px;
    color:#fff;
    font-size:16px;
    outline:none;
    }
    
    form input:focus,
    form textarea:focus{
    border-color:#a968f3;
    }
    
    form textarea{
    resize:none;
    }
    
    form button{
    align-self:center;
    }
    
    /*================ FOOTER ================*/
    
    footer{
    background:#181818;
    padding:25px;
    text-align:center;
    color:#bbb;
    }
    
    /*================ RESPONSIVE ================*/
    
    @media(max-width:768px){
    
    header{
    padding:18px 6%;
    }
    
    nav{
    display:none;
    }
    
    .menu{
    display:block;
    }
    
    .home{
    flex-direction:column;
    text-align:center;
    }
    
    .home-img img{
    width:250px;
    height:250px;
    }
    
    .home-content h1{
    font-size:40px;
    }
    
    .home-content h3{
    font-size:24px;
    }
    
    .about h2{
    font-size:42px;
    }
    
    .heading{
    font-size:42px;
    }
    
    .skill-box{
    grid-template-columns:1fr;
    }
    
    .buttons{
    justify-content:center;
    flex-wrap:wrap;
    }
    
    }
    nav.active{
        display:flex;
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:#181818;
        flex-direction:column;
        padding:20px;
        text-align:center;
        gap:20px;
        }
